# ==========================================
# 1. 보안 및 개인 설정 (절대 업로드 금지)
# ==========================================
*.pem
*.key
server/I14D201T.pem
server/ufw 포트 설정하기.txt
# .env
# .env.local

# ==========================================
# 2. ROS 2 / colcon 빌드 부산물
# ==========================================
**/build/
**/install/
**/log/
**/COLCON_IGNORE
_local_setup_util_ps1.py
_local_setup_util_sh.py

# ==========================================
# 3. Python 관련 (가상환경 및 캐시)
# ==========================================
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.venv/
venv/
env/

# ==========================================
# 4. Web 개발 (Frontend & Backend)
# ==========================================
**/node_modules/
smart-cart-web/backend/flask.log
dist/
.eslintcache

# ==========================================
# 5. OS 및 IDE 설정 파일
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db
*.env
